<!--The content below is only a placeholder and can be replaced.-->
<small> Branch Master </small><hr>
<div class="container">
  <div class="row">
    <span class="col-md-2"> <img class="logo" alt="Angular Logo" src="./assets/images/icon.png"></span>
    <span class="col-md-10"> <h1> Welcome to {{ 'TITLE' | translate }}!</h1></span>
  </div>
  <h4>Social media links: </h4>

  <ul>
    <li><a target="_blank" rel="noopener" href="https://facebook.com">https://facebook.com</a></li>
    <li><a target="_blank" rel="noopener" href="https://www.google.lk/?gws_rd=ssl">https://google.com</a></li>
  </ul>
  <br>
  <button class="btn btn-default" (click)="switchLanguage('en')">English</button>
  <button class="btn btn-info" (click)="switchLanguage('fr')">French</button>
  <br>
  <app-login></app-login>

  <!-- <div>
  <nav>
    <a>Navigation:</a>
    <ul>
      <li><a [routerLink]="['/login']">Login</a></li> 
    </ul>
  </nav>
  <router-outlet></router-outlet> 
</div> -->


</div>